---
import MeetingSchedule from '@/components/HomePage/sections/Meeting/MeetingSchedule';
import CalendlyMeetingSchedule from './CalendlyMeetingSchedule';

type MeetingDataType = {
  header: string;
  description: string;
  cta: string;
};

interface Props {
  meetingData: MeetingDataType;
}

const { meetingData } = Astro.props;
---

<section id="meeting-section" class=" caret-transparent lg:pt-[120px] pt-[80px] bg-white w-screen flex items-center justify-center">
<!--   <FadeInSection> -->
    <div
      class="custom-section-width lg:px-20 flex flex-col items-center justify-center"
    >
      {/* Header with description */}
      <div
        class="flex flex-col items-center justify-centertext-center text-center"
      >
        <h1 class="text-5xl font-medium tracking-tight">
          {meetingData.header}
        </h1>
        <h3
          class="lg:w-[610px] mt-4 leading-7 text-base font-normal text-gray-500"
        >
          {meetingData.description}
        </h3>
      </div>
<!--       <MeetingSchedule client:visible/> -->
      <div class=" w-full">
              <CalendlyMeetingSchedule client:idle/>
      </div>
    </div>
<!--   </FadeInSection> -->
</section>