<div
  class="caret-transparent text-white w-screen bg-black custom-section-padding"
>
  <div  class="lg:flex-row flex-col custom-section-width mx-auto flex gap-[102px]">
    <div class="flex flex-col w-full">
      <h3
        class="text-[#EF7A0E] text-lg font-normal leading-[150%] tracking-[-0.5%]"
      >
        Launch with Impact
      </h3>
      <h2 class="mt-2 text-[64px] font-semibold leading-[105%] tracking-[-3%]">
        Get Your Launch Offer Now
      </h2>
      <p
        class="text-[#D9D4D2] mt-6 text-base font-normal leading-[150%] tracking-[-0.5%]"
      >
        Kickstart your next design & development project with exclusive
        first-time benefits. Limited-time deal tailored for growing brands.
      </p>
      <ul class="mt-6 gap-2 text-[#D9D4D2]">
        <li>
          <div class="flex items-center gap-2">
            <img
              loading="lazy"
              width={16}
              height={16}
              src="/check-icon-2.svg"
            /><p>Save time with expert design</p>
          </div>
        </li>
        <li class="mt-2">
          <div class="flex items-center gap-2">
            <img
              loading="lazy"
              width={16}
              height={16}
              src="/check-icon-2.svg"
            />
            <p>Tailored solutions for your business</p>
          </div>
        </li>
        <li class="mt-2">
          <div class="flex items-center gap-2">
            <img
              loading="lazy"
              width={16}
              height={16}
              src="/check-icon-2.svg"
            />
            <p>Exclusive offer for new clients</p>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="relative w-full rounded-[20px] flex flex-col p-10 overflow-hidden"
    >
      <div
        style="background: linear-gradient(to right, white, #EF730E)"
        class="absolute inset-0 w-full h-full pointer-none mix-blend-lighten opacity-10"
      >
      </div>
      <h3 class="z-10 font-normal text-2xl leading-[150%]">
        Exclusive Limited<span class="text-[#EF7A0E]"> - Time Deal</span>
      </h3>
      <div class="lg:flex-row flex-col items-center z-10 mt-4 flex gap-8 h-fit">
        <div class="text-white flex items-end">
          <h3 class="text-[46px] leading-[120%] tracking-[-4%] line-through">$99.99</h3>
          <p class="mb-1">/month</p>
        </div>
        <div class="flex items-end">
          <h3 class="text-[#EF730E] text-[46px] leading-[120%] tracking-[-4%]">
            $49.99
          </h3>
          <p class="mb-1">/month</p>
        </div>
      </div>
      <ul class="z-10 text-[#D9D4D2] mt-6">
        <li>
          <div class="flex items-start gap-3">
            <img src="/check-icon.svg" />
            <p>Boost Your Brand with a Custom Site (1-2 Pages)</p>
          </div>
        </li>
        <li class="mt-[18px]">
          <div class="flex items-center gap-3">
            <img src="/check-icon.svg" />
            <p>Mobile and Desktop Version</p>
          </div>
        </li>
        <li class="mt-[18px]">
          <div class="flex items-center gap-3">
            <img src="/check-icon.svg" />
            <p>Search Engine Optimization (SEO)</p>
          </div>
        </li>
      </ul>
      <a
      href="#pricing_section"
        style="background: linear-gradient(to top left, #EF290E, #EF7A0E)"
        class="z-10 cursor-pointer rounded-[8px] mt-10 w-full flex items-center justify-center py-3.5 px-8 text-xl font-semibold leading-[140%] tracking-[-1%]"
      >
        Claim My Offer
    </a>
    </div>
  </div>
</div>
