---
import { ContainerTextFlipClient } from '../ContainerTextFlipClient';
import ExclusivePlan from '@/components/HomePage/Pricing/ExclusivePlan.astro';
/*  */import ScrollingColumnsSection from './ScrollingColumnsSection.astro';

/* const isProduction = process.env.NODE_ENV === 'production' */

const { lg_screen_width, default_screen_width, heroData, commonData, prices } =
  Astro.props;
---

<style>
  .arrow-clip {
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .arrow-clip-1 {
    clip-path: polygon(
      0 0,
      30% 0,
      30% 99%,
      100% 99%,
      100% 100%,
      29% 100%,
      29% 1%
    );
    background: linear-gradient(to bottom right,black 10%, #ef6f0e 90%, #ef3a0e 95%);
  }
  .arrow-clip-2 {
    clip-path: polygon(
     0% 0%,
     100% 0%,
     100% 100%,
     99% 100%,
     99% 1%
    );
    background: linear-gradient(to bottom right, #ef6f0e 90%, #ef3a0e 95%);
  }
  .arrow-clip-3 {
    clip-path: polygon(
      0% 99%,
      50% 99%,
      50% 0, 
      100% 0,
      100% 1%,
      51% 1%,
      51% 100%
    );
    background: linear-gradient(to top right,black 10%, #ef6f0e 90%, #ef3a0e 95%);
  }
  .arrow-tip-circle {
    position: absolute;
    transform: translateX(50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EF720E;
    filter: blur(4.56px);
  }

  @keyframes arrow-circle-pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .circle-pulse{
    animation: arrow-circle-pulse 1s ease-in-out infinite;
  }

</style>
<div
style="background-image: 
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 80px 80px;"
  class="overflow-hidden relative bg-[#010101] caret-transparent w-screen flex justify-center h-screen"
>
{/* black overlay */}
<div class="z-5 bg-black/20 absolute inset-0 w-full h-full"></div>
  {/* Arrow Left 1*/}
  <div
    class="lg:opacity-100 opacity-[0.5] top-[35%] left-0 translate-y-[-50%] absolute w-[350px] h-[225px]"
  >
    <div class="arrow-clip arrow-clip-1"></div>
    <div class="circle-pulse arrow-tip-circle bottom-0 right-0 translate-y-[50%]"></div>
  </div>
  {/* Arrow Left 2*/}
  <div
    class="lg:opacity-100 opacity-[0.5] top-[65%] left-[0%] translate-y-[-50%] absolute w-[400px] h-[150px]"
  >
    <div class="arrow-clip arrow-clip-2"></div>
    <div class="circle-pulse arrow-tip-circle bottom-0 right-0 translate-y-[50%]"></div>
  </div>
  {/* Arrow Left 3*/}
  <div
    class="lg:opacity-100 opacity-[0.5] top-[55%] left-[5%] translate-y-[-50%] absolute w-[200px] h-[300px]"
  >
    <div class="arrow-clip arrow-clip-3"></div>
    <div class="circle-pulse arrow-tip-circle top-0 right-0 translate-y-[-50%]"></div>
  </div>
    {/* Arrow Right 1*/}
      <div
      class="lg:block hidden scale-x-[-1] top-[35%] right-0 translate-y-[-50%] absolute w-[350px] h-[225px]"
    >
      <div class="arrow-clip arrow-clip-1"></div>
      <div class="circle-pulse arrow-tip-circle bottom-0 right-0 translate-y-[50%]"></div>
    </div>
  {/* Arrow Right 2*/}
  <div
    class="lg:block hidden scale-x-[-1] top-[65%] right-0 translate-y-[-50%] absolute w-[400px] h-[150px]"
  >
    <div class="arrow-clip arrow-clip-2"></div>
    <div class="circle-pulse arrow-tip-circle bottom-0 right-0 translate-y-[50%]"></div>
  </div>
  {/* Arrow Right 3*/}
  <div
    class="lg:block hidden scale-x-[-1] top-[55%] right-[5%] translate-y-[-50%] absolute w-[200px] h-[300px]"
  >
    <div class="arrow-clip arrow-clip-3"></div>
    <div class="circle-pulse arrow-tip-circle top-0 right-0 translate-y-[-50%]"></div>
  </div>
  {/* Radial gradient top */}
  <div
    class="absolute opacity-50 top-[-546px] left-[50%] transform translate-x-[-50%] rounded-full w-[850px] h-[850px] bg-radial-[at_50%_0%] to-100% from-[#EF3A0E] to-[#EF6F0E] blur-[600px] pointer-events-none z-0"
  >
  </div>
  {/* Radial gradient bottom left */}
  <div
  class="absolute opacity-50 bottom-0 left-0 border-3 translate-x-[-50%] translate-y-[50%] rounded-full w-[340px] h-[340px] bg-radial-[at_50%_0%] to-100% from-[#EF3A0E] to-[#EF6F0E] blur-[800px] pointer-events-none z-0"
>
</div>
  <div
    class={`z-10 relative mx-auto ${lg_screen_width} flex  ${default_screen_width} overflow-hidden`}
  >
    <div
      class={` mx-auto text-center w-fit absolute top-[45%] left-[50%] transform translate-x-[-50%] translate-y-[-50%]`}
    >
      <h1
        style="font-family: 'Sora', sans-serif; text-shadow: 0 0 30px rgba(239, 106, 14, 0.6);"
        class="lg:text-[160px] lg:leading-[90%] lg:tracking-[-4%] tracking-[-3%] leading-[105%] text-[84px] xl:whitespace-nowrap space-y-[72px] text-white font-semibold"
      >
        Dev Crafted
      </h1>
      <h2
        class="lg:text-[46px] lg:leading-[120%] lg:tracking-[-3%] tracking-[-2%] leading-[130%] text-[32px] mt-6 text-white space-y-[72px] font-normal"
      >
        <span class="text-[#848080]">TAILORED</span> DIGITAL SOLUTIONS
      </h2>
      <p
        class="mt-6 text-[#D9D4D2] font-normal text-base leading-[150%] space-y-4"
      >
        Our comprehensive guide to strategies for entrepreneurs and
    </br> leaders offers valuable insights, practical advice. </p>
    <a href="#portfolio" style="background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1) 0%, rgba(239, 113, 14, 0.12) 100%);" class="mx-auto block cursor-pointer shadow-lg hover:shadow-2xl hover:scale-105 duration-500 ease-in-out backdrop-blur-[10px] mt-10 border border-white/10 font-semibold text-xl leading-[140%] py-[14px] px-[32px] rounded-[8px] space-y-4 tracking-[-1%] w-fit text-white">View Portfolio</a>
    </div>
  </div>
</div>
