<section class="custom-section-padding w-screen h-fit flex justify-center items-center">
    <div class="custom-section-width flex flex-col">
        <h2 class="max-w-[950px] font-semibold lg:text-[46px] text-3xl leading-[120%] tracking-[-4%]">They didn't just<span class="text-custom-gray font-normal"> build a website -</span> they helped me rethink how I present <span class="text-custom-gray font-normal">my business online</span></h2>
    <div class="flex mt-8 items-center ">
        <div class="rounded-full w-[80px] h-[80px] overflow-hidden">
            <img loading="lazy" width={80} height={80} class="w-full h-full object-cover" src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/3cdf6917-f47c-4d19-18a6-15f820a9da00/icon100x100"/>
        </div>
        <div class="ml-5 flex flex-col">
            <h3 class="lg:font-normal font-medium lg:text-[32px] text-xl leading[130%] tracking-[-2%]">Erhan Namli</h3>
            <p class="font-normal lg:text-lg text-sm leading-[150%] tracking-[-0.5%]">Founder & CEO, <span class="lg:hidden"><br/></span>Nitra Solutions</p>
        </div>
    </div>
    </div>
</section>