---
import type { StripePriceSimplified } from '@/types/stripe_types';

const { prices, currency } = Astro.params;

type SupportedCurrency = 'eur' | 'pln' | 'ron' | 'usd';

const getCurrencySymbol = (currency: string) => {
  switch (currency) {
    case 'eur':
      return '€';
    case 'pln':
      return 'zł';
    case 'ron':
      return 'RON';
    default:
      return '$';
  }
};
let getPriceData = (lookupKey:string) => (49)
if (prices) {
  const pricesArray = JSON.parse(prices);
  getPriceData = (lookupKey: string) =>
    pricesArray?.find(
      (price: StripePriceSimplified) =>
        price.lookupKey === lookupKey).unitAmount;
}
---

<div class="h-[60px] w-[300px] flex justify-center items-center">
  <>
    <span>
      {getCurrencySymbol(currency ?? 'usd')}{' '}
      {getPriceData(`startup_monthly_${currency}`)}
    </span>
    <span class="text-2xl space-y-4 font-normal"> &thinsp;/&thinsp;Month </span>
  </>
</div>
